<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo_list</title>
</head>
<body>
<h1>Список задач</h1>
<a href="{% url 'todo-add' %}">Создать задачу</a>
{% if todo_list %}
<ul>
{% for todo in todo_list %}
<li>
<a href="{{ todo.get_absolute_url }}">
         {{ todo.name }}</a>
         ({{todo.description}})
         [{{ todo.status|yesno:'Выполнено,Не выполнено'}}]
    <a href="{{ todo.get_absolute_url }}/update">
        Update</a>
    <a href="{{ todo.get_absolute_url }}/delete">
        Delete</a>
</li>
  {% endfor %}
</ul>
{% else %}
<p>Задач нет</p>
{% endif %}
</body>
</html>